name: Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish Libraries
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '13.x'
      # Build
      - run: yarn install --skip-builds
      - run: yarn build
      - run: yarn rebuild
      # Tests
      - run: yarn test
      # Publish
      - name: Release
        uses: changesets/action@master
        with:
          publish: yarn changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
