name: Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish Libraries
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '13.x'
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '13.x'
      # Build
      - run: yarn install --skip-builds
      - run: yarn build
      - run: yarn rebuild
      # Tests
      - run: yarn test
      # Publish
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          git config --global github.token $GH_TOKEN
          git config --global user.email $GH_EMAIL
          git config --global user.name $GH_USER
      - run: yarn lerna publish --yes
