name: Test

on: [push, pull_request]

jobs:
  build:
    name: Test Library
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '13.x'
      - run: yarn install
      # Test
      - run: yarn test
      # - run: yarn coverage
